{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Organizador de Tareas</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae nisi voluptate quos architecto dolor! Nesciunt et deserunt libero perferendis dicta veritatis nemo, quam consequatur in deleniti tempora odit. Maiores quis, facere magni autem assumenda quisquam a explicabo dolorem ducimus. Iusto, veniam sunt? Sequi atque, dignissimos voluptates eaque, sit molestias laboriosam architecto tempora vel perferendis sapiente aliquid expedita animi amet molestiae magni, officia harum nesciunt quas ipsam in. Laborum minus error magni itaque quasi voluptates neque sequi earum. Debitis commodi nulla perspiciatis voluptate nesciunt, labore ipsum recusandae ipsam assumenda, explicabo aliquam maiores maxime expedita voluptates eaque sint asperiores optio adipisci modi.</p>
    </section>
</main>
{% endblock %}